#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url(/src/img/twilightArrakis.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}