#root {
  width: 100vw;
  margin: 0;
  padding: 30px;
  text-align: center;
  background-image: url(/src/img/twilightArrakis.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}